
#canvasContainer {
    width: 100%;
}

#defaultCanvas {
	display: block;
	margin: 0 auto;
}

#outerControls {
    width: 100%;
}

#controls {
	width: 80%;
	display: block;
	margin: 0 auto;
}


#hlink {
	color: #38C4E0;
}

#text {
	color: #5D8F96;
}
